<div class="container">
<h2>About me</h2>
<p>I am currently a Computer Science student studying at Carleton University in Ottawa aspiring to become a professional software developer. The intent of this site is to provide a place for me to publish my progress towards my aspiration and share my struggles and successes. I encourage you to browse around and feel free to contact me with any questions or suggestions.</p>
</div>
<div class="container">
<h3>My Toolbox</h3>
<div style="width:100%;float:left;">
  <h4>Languages</h4>
  <div style="width:50%;float:left;">
    <h5>Experienced with</h5>
    <ul style="list-style-type: none;">
      <li><span class="pict-prog-ccplusplus icon-large"> C and C++</span></li>
      <li><span class="pict-prog-nodejs02 icon-large"> NodeJS</span></li>
      <li><span class="pict-prog-coffeescr icon-large"> CoffeeScript</span></li>
      <li><span class="pict-prog-js02 icon-large"> JavaScript</span></li>
      <li><span class="pict-html5-01 icon-large"> / <span class="pict-css3-01 icon-large"> Web</span></li>
      <li><span class="pict-prog-java icon-large"> Java</span></li>
      <li><span class="pict-prog-bash02 icon-large"> Bash</span></li>
      <li><span class="pict-dbs-mysql icon-large"> SQL</span></li>
    </ul>
  </div>
  <div style="width:50%;float:left;">
    <h5>Developing skills</h5>
    <ul style="list-style-type: none;">
      <li><span class="pict-prog-ruby icon-large"> Ruby</span></li>
      <li><span class="pict-prog-rails icon-large"> Rails</span></li>
      <li><span class="pict-prog-jquery icon-large"> jQuery</span></li>
      <li><span class="pict-prog-python icon-large"> Python</span></li>
      <li><span class="pict-dbs-mongodb icon-large"> MongoDB</span></li>
      <li><span class="pict-dbs-sqlite icon-large"> SQLite</span></li>
      <li><span class="pict-prog-php01 icon-large"> PHP</span></li>
      <li><span class="pict-prog-drupal icon-large"> Drupal</span></li>
    </ul>
  </div>
</div>
<div style="width:100%;float:left;">
  <div style="width:50%;float:left;">
    <h4>Source Control</h4>
    <ul style="list-style-type: none;">
      <li><span class="pict-vc-git icon-large"> Git</span></li>
      <li><span class="pict-vc-svn icon-large"> SVN</span></li>
    </ul>
  </div>
  <div style="width:50%;float:left;">
    <h4>Operating Systems</h4>
    <ul style="list-style-type: none;">
      <li><span class="pict-os-apple-dark icon-large"> OS X</span></li>
      <li><span class="pict-os-linux_1_ icon-large"> Linux</span></li>
      <li><span class="pict-os-win-04 icon-large"> Windows</span></li>
    </ul>
  </div>
</div>
<nav><p><a href="/resume/resume.pdf">View my resume...</a></p></nav>
</div>
<div class="container" style="float:left;padding-bottom: 10px;">
  <h2>Coding Projects</h2>
  <p>
    I love programming - everything about it. From learning new languages and frameworks to improving my skills using proper coding conventions in languages I already know. I will dive into any challenge with delight. Here are some projects that I have created, either during my studies, or in my own spare time.
  </p>
  <nav><a href="/coding">Coding Projects...</a></nav>
</div>
<div class="container" style="float:left;padding-bottom:10px;width:100%;">
  <h2>Tweets</h2>
  <a href="https://twitter.com/martin_gingras" class="twitter-follow-button" data-show-count="true">Follow @martin_gingras</a>
  <a class="twitter-timeline" height="600" href="https://twitter.com/martin_gingras" data-widget-id="414111266525818880" data-border-color="#cccccc" data-chrome="noheader">Tweets by @martin_gingras</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


</div>


<!-- add2home -->
<script type="text/javascript" src="/js/add2home.js"></script>