<h2>About me</h2>
<p>I am currently a Computer Science student at Carleton University aspiring to become a professional software engineer.</p>
<p><a href="/resume">View my resume...</a></p>
<h2>Coding Projects</h2>
<p>Here is a list of some coding projects I have undertaken both through my studies and in my own time</p>
<p><a href="/coding">Coding Projects...</a></p>
<img align="left" style="width:100%;" src="http://1.bp.blogspot.com/_G-kAIEQS-QM/SuZtx4EFgXI/AAAAAAAAAlo/jZqfDyuoRBA/s400/UnderConstructionBannerDiagonal.gif"></img>