<h2>About me</h2>
<p>I am currently a Computer Science student studying at Carleton University aspiring to become a professional software engineer. The intent of this site is to provide a place for me to publish my progress towards my aspiration and share my struggles and successes. I encourage you to browse around and feel free to contact me with any questions or suggestions.</p>
<p><a href="/resume">View my resume...</a></p>
<h2>Coding Projects</h2>
<p>
  I like programming, everything about it. From learning new languages and frameworks to improving my skills with proper coding conventions. Here are some projects that I have created, either throughout my studies, or in my own spare time.
</p>
<p><a href="/coding">Coding Projects...</a></p>
