<h1>Martin Gingras</h1>
<p>3480 McCarthy Rd.<br>Ottawa ON.<br>K1V 0G2</p>
<p>E-mail: <a href="mailto:martin.p.gingras@gmail.com?Subject=Martin Gingras' Resume" title="Email Me!">martin.p.gingras@gmail.com</a></p>
<p>Telephone: 613-850-2565</p>

<h2>EDUCATION</h2>

<p>  Honors Computer Science: Law Stream, Co-op Option                 2010 - Present
  Carleton University, Ottawa, ON
 Current year standing, CGPA 9.0/12.0 (B+ equivalent)
 Graduating 2015
</p>
<h2>AVAILABILITY</h2>

	<p>Available for 4 - 8 month beginning January 2013</p>

<h2>SKILLS AND ABILITIES</h2>

<h3>TECHNICAL SKILLS:</h3>
<p>Proficient using multiple operating systems including Windows and Mac OsX
Worked with Windows operating system growing up before switching to Mac OsX for University. Since then have occasionally used Linux command line.
Experienced with both object oriented and procedural programming; in particular Java using the Eclipse IDE and C using a Vim editor in a terminal emulator
Quick at learning new languages and becoming accustomed to new workspaces
</p>
<h3>COMMUNICATION SKILLS</h3>
<p>Analyzed legal cases and prepared clear and concise case briefs
Formulated and defended arguments concerning historic political philosophy as well as modern politics
At IBM communicated with clients on a daily basis, often having to guide them through complicated procedures orally.
Fluent in English and French</p>

<h3>LEADERSHIP SKILLS</h3>
<p>Comfortable at both working alone and as part of a team to ensure that no matter what the job is, it is done in time and to the required caliber
Assumed the role of a member of a party founding a nation during second year in, Law the State and the Constitution, for part of the term, then later emerging as a leader for the latter part of the term
Remains calm in tense situations and is prepared to aid in directing others to achieving their goals
Seized and maintained control of a large number of people in both rescue situations and instructing lessons
</p>

<h2>WORK EXPERIENCE</h2>

<p>Business Intelligence Technical Analyst                                                     May - December, 2012
IBM Canada
Ottawa, ON</p>

<p>Full-time Lifeguard and Swimming Instructor                                    May - September, 2011
Beechwood Park Homes Association
Waterloo, ON</p>

<p>Part-time Lifeguard and Swimming Instructor                         May - September, 2010, 2011
Beechwood II Homes Association
Waterloo, ON</p>

<p>Part-time Lifeguard and Swimming/Tennis Instructor                        May - September, 2010
Beechwood West II Homes Association
Waterloo, ON</p>

<p>Office Help                                                                             October 2009 - December 2009
Iain A. Thomson and Associates
Waterloo, ON</p>

<h2>Activities and Interests</h2>


<p>Carleton Computer Science Society (CCSS)                                              2010 - Present
 - Director of External                                                                                    2012 Academic Year</p>

<h3>Interests Include:</h3>
<p>Running, Technology, Current Events, Tennis, Law, Swimming, Snowboarding, Skiing, and Music</p>