<!-- <div style="height;60px;width:200px;"> -->
<a href="/">
  <img align="left" src="{{site.url}}/img/martin_gingras.jpg" style="height:60px; width:60px; margin-right:10px; -webkit-border-radius: 8px 8px 8px 8px;-moz-border-radius: 8px 8px 8px 8px;border-radius: 8px 8px 8px 8px;"></img>
  <h1>{{ site.name }}</h1>
</a>
<h5>Software Developer</h5>
<!-- </div> -->
<p>Reach me via:&nbsp;
  <a href="mailto:martin@magingras.com?Subject=Your Website" title="Email Me!"><i class="icon-envelope-alt icon-large"></i></a>
  <a href="http://github.com/mgingras/"><i class="icon-github icon-large"></i></a>
  <a href="http://www.linkedin.com/in/martinpgingras"><i class="icon-linkedin-sign icon-large"></i></a>
  <!-- <a href="https://www.facebook.com/Martin.P.Gingras"><i class="icon-facebook-sign icon-large"></i></a> -->
  <a href="https://twitter.com/martin_gingras"><i class="icon-twitter-sign icon-large"></i></a>
</p>
<h2>About me</h2>
<p><i class="icon-terminal"></i> open<a href="/resume"> resume/</a></p>
<h2><a href="/coding">Coding Projects</a></h2>
{% for project in site.categories.coding %}
<p><i class="icon-terminal"></i> open<a href="{{ project.url }}"> {{ project.title }}/</a></p>
{% endfor %}
