<h1 class="title">
  <a href="/">
    <img align="left" src="http://www.gravatar.com/avatar/ee5c27a6ceb475fb662ce7ea8029c379.png" style="height:60px; width:60px; margin-right:10px; -webkit-border-radius: 8px 8px 8px 8px;-moz-border-radius: 8px 8px 8px 8px;border-radius: 8px 8px 8px 8px;"></img>{{ site.name }}
</a>
</h1>
  <p>Reach me via:&nbsp;
    <a href="mailto:martin.p.gingras@gmail.com?Subject=Your Website" title="Email Me!"><i class="icon-envelope-alt icon-large"></i></a>
    <a href="http://github.com/mgingras/"><i class="icon-github icon-large"></i></a>
    <a href="http://www.linkedin.com/in/martinpgingras"><i class="icon-linkedin-sign icon-large"></i></a>
  </p>
  <h3>About me</h3>
  <a href="/resume">Resume</a>