<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>
<body>
  <div class="homeButton">
    <br>
    <a style="color:white;" href="/"><i class="icon-home icon-3x"></i></a>
  </div>
  <div class="wrapper">
    <div class="sidebar">
      {% include sidebar.html %}
    </div>  <!-- sidebar -->
    <script>
    var h = $('#sidebar').height();
    $('#content').slimScroll({
      alwaysVisible:true,
      wheelStep:2
    });
    </script>
    <div class = "content">     
      {{ content }}
    </div> <!-- content -->
  </div> <!-- wrapper -->
</body>
</html>
